
.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  /* display: flex; */
  /* justify-content: center; */
  
  pointer-events: none;
}

.main:before {
  background: radial-gradient(circle, rgba(205, 202, 253, 0) 0, #fcfdff 100%);
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.main:after {
  content: "";
  background-image: url("../src/assets/images/grid.svg");
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, rgb(114, 121, 254) 0px, transparent 50%),
    radial-gradient(at 52% 99%, rgb(182, 137, 142) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}



/* Tailwind Styles */

.blue__gradient {
  background: linear-gradient(180deg, rgba(18, 16, 23, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #1d181d 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(25, 24, 24, 0.6);
  filter: blur(750px);
}